/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
HTML, Body {
    height: 100%;
}
body {
	line-height: 1;
    
    }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End*/

/* Jason Hancock Folio Styles */

/* Add fonts */


@font-face {
  font-family: Averta-Light;
  src: url('../Fonts/AvertaStd-Light.otf');
}

@font-face {
  font-family: Morion;
  src: url('../Fonts/Morion-Bold.otf');
}

@font-face {
  font-family: Averta-Thin;
  src: url('../Fonts/AvertaStd-Thin.otf');
}


#pagewrap {
    border: solid 16px #ffffff;
    Background: #f5f3ed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
}


#container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px 0px 100px 100px;
    box-sizing: inherit;
    width: 650px;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

#content {
   margin-top: -30%;
}

h1 {
    font-size:30px;
    line-height: 40px;
    font-family: 'Morion', serif;
    letter-spacing: 3px;
    margin-bottom: 27px;
    color: #003c3a;
}

h2 {
    font-family: 'Averta-Thin', sans-serif;
    font-size: 25px;
    line-height: 35px;
    text-transform: none;
    margin-bottom: 27px;  
}

p {
    font-family: 'Averta-Light', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 40px;
    text-transform: none;
    letter-spacing: .03em;
    text-rendering: optimizeLegibility;
}

a { 
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid rgba(0, 60, 58, 0.2);
    padding-bottom: 3px;
}

.contact {
    position: absolute;
    top: 60%;
    padding-left: 116px;
    z-index: 100;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

a:hover { 
    text-decoration: none;
    border-bottom: 1px solid #003c3a;
    padding-bottom: 3px;
    transition: border-color 170ms ease-in-out;
}


#mobileBreak {
        display: none;
    }

@keyframes slideInFromRight {
  0% {
    transform: translateX(-20%);
      opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.swinger-container {
    position: relative!important;
    top: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    position: absolute;
    vertical-align: center;
    overflow: hidden;
}

.swinger-container img {
    display: flex;
    align-items: center;
    max-height: 100%!important;
    margin: 0 auto;
    left: 40%;
    width: auto;
}



/* Responsive styles */


@media only screen and (min-width: 1800px) {


#container {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    margin-left: 200px;
}
    
.contact {
        margin-left: 200px;
    }
    
    .swinger-container img {
    display: flex;
    align-items: center;
    height: auto!important;
    left: 40%;
    max-width: 1500px;
}
    
    .swinger-container {
    position: relative!important;
    top: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    position: absolute;
    vertical-align: center;   
}
    
}

@media only screen and (max-width: 1200px) {
    

#container {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    width: 500px;
}

#content {
        margin-top: -45%;
    }
    
    
.swinger-container img {
    display: flex;
    align-items: center;
    height: auto!important;
    left: 45%;
    max-width: 1000px;
}
    
.swinger-container {
    position: relative!important;
    top: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    position: absolute;
    vertical-align: center;
    
}
}

@media only screen and (max-width: 960px) {
    
#container {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    width: 100%;
    box-sizing: border-box;
    padding: 100px;
}

#content {
        margin-top: -45%;
    }
    
    .mobile  {
        visibility: hidden;
    }
    
}


@media only screen and (max-width: 480px) {
    
    #container, #maxWidth, #links {
        width: 100%;
        padding: 20px;
    }
    
    #content {
        margin-top: -10%
    }
    
    #links {
        top: 40%;
    }
    
    h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 14px;
        line-height: 22px;
    }
    
    a {
        font-size: 14px;
    }
   .contact {
        padding: 40px;
       font-size: 14px;
        line-height: 30px;
    }
}


/* 


  Mobile styles 

@media only screen and (max-width: 959px) {
    #container {
        width: 700px;
        padding: 50px;
         box-sizing: inherit;
    }
    #content {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    #container {
        width: 100%;
        padding: 50px;
         box-sizing: inherit;
    }
    #content {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    #container {
        width: 100%;
        padding: 20px;
         box-sizing: inherit;
    }
    
    #content {
        width: 100%;
    }
    
    h1 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 25px;
        line-height:35px;
    }
    
    a {
        font-size: 14px;
    }
    
    #mobileBreak {
        display: inline-block;
    }
}

*/
